@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400;1,700&display=swap');
body{
    background-color: #9ea7aa;
    font-family: 'Roboto', sans-serif;
}
[contenteditable]:focus {
    outline: none;
}

#editor
{
    padding: 25px;
    width: 80%;
    max-height: 50%;
    overflow-y: auto;
    border-radius: 25px;
    margin: 15% auto;
    min-height: 900px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#panel
{
    padding-left: 15px;
    position: fixed;
    background-color: #cfd8dc;
    min-width: 100%;
    min-height: 200px;
    top: 0;
    left: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.button
{
    background-color: #263238;
    width: 50px;
    height: 50px;
}

.buttonGroup
{
    display: inline-block;
    background-color: #000a12;
    vertical-align: auto;
    width: 200px;
}
.buttonGroup p
{
    color: white;
    text-align: center;
}

.italic
{
    font-style: italic;
    font-weight: 100;
}

.bolder
{
    font-weight: 700;
}


